.acts {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: fit-content;
    justify-content: center; /* Center the items horizontally */
}

.App {
    display: flex;
    justify-content: left;
    align-items: right;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #f5f5f5;
}