.acts {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    height: fit-content;
    border: 1px solid red;
    justify-content: center; /* Center the items horizontally */
}

.parent {
    display: flex;
    flex-direction: row;
}

.App {
    display: flex;
    justify-content: left;
    flex-direction: column;
    overflow-x: hidden;
}

.recent {
    position: fixed;
    margin-left: 900px;
    
}
