.state {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 20px;
}

img {
    width: 200px;
    height: 200px;
}

#prog {
    width: 250px;
    height: 20px;
    background-color: rgb(245, 86, 86);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

input {
    border-radius: 20px;    
}
