.login-container {
    display: flex;
    justify-content: right;
    margin-top: 10px; /* Adjust this value as needed */
}

.login-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}
