.navbar {
    width: 100vw;
    display: flex;
    height: 100px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.navbar div {
    margin: auto;
    font-weight: 800;

}

.navbar div:hover {
    color: rgb(46, 181, 82);
}

.navbar img {
    width: 150px;
    height: 150px;
}